@model IEnumerable<Member_Registration.Models.ClubMember>

<h2>Club Members</h2>

@if (ViewBag.Messages != null)
{
    <div id="alert-container">
        @foreach (var message in ViewBag.Messages)
        {
            <div class="alert alert-info">
                @message
            </div>
        }
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div id="alert-container">
        <div class="alert alert-info">
            @TempData["SuccessMessage"]
        </div>
    </div>
}
<div class="mb-3">
    <a asp-action="AddMember" class="btn btn-success">Add Member</a>
    <a asp-action="DownloadExcel" class="btn btn-info">Download as Excel</a>
    <a asp-action="Logout" asp-controller="Account" class="btn btn-danger float-right" style="margin-right: 57px;">Logout</a>
</div>

<form method="get" asp-action="ShowMembers" class="mb-3">
    <div class="row">
        <div class="col-md-2">
            <input type="text" name="memberName" value="@Context.Request.Query["memberName"]" class="form-control" placeholder="Member Name" />
        </div>
        <div class="col-md-2">
            <input type="text" name="societyName" value="@Context.Request.Query["societyName"]" class="form-control" placeholder="Society Name" />
        </div>
        <div class="col-md-2">
            <select name="gender" class="form-control">
                <option value="">Select Gender</option>
                <option value="0" selected="@(Context.Request.Query["gender"] == "0")">Male</option>
                <option value="1" selected="@(Context.Request.Query["gender"] == "1")">Female</option>
                <option value="2" selected="@(Context.Request.Query["gender"] == "2")">Others</option>
            </select>
        </div>

        <div class="col-md-2">
            <select name="membershipCategory" class="form-control">
                <option value="">Select Category</option>
                <option value="1" selected="@(Context.Request.Query["membershipCategory"] == "1")">A</option>
                <option value="2" selected="@(Context.Request.Query["membershipCategory"] == "2")">B</option>
                <option value="3" selected="@(Context.Request.Query["membershipCategory"] == "3")">C</option>
                <option value="4" selected="@(Context.Request.Query["membershipCategory"] == "4")">D</option>
            </select>
        </div>

        <div class="col-md-2">
            <select name="isActive" class="form-control">
                <option value="">Is Active</option>
                <option value="true" selected="@(Context.Request.Query["isActive"] == "true")">Yes</option>
                <option value="false" selected="@(Context.Request.Query["isActive"] == "false")">No</option>
            </select>
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary" type="submit">Search</button>
            <a href="@Url.Action("ShowMembers")" class="btn btn-secondary">Clear</a>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Member Name</th>
            <th>Society</th>
            <th>Hobby</th>
            <th>Gender</th>
            <th>Category</th>
            <th>Remarks</th>
            <th>Is Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.MemberName</td>
                <td>@member.Society.SocietyName</td>
                <td>
                    @if (member.ClubMemberHobbies != null && member.ClubMemberHobbies.Any())
                    {
                        @foreach (var clubMemberHobby in member.ClubMemberHobbies)
                        {
                            @clubMemberHobby.Hobby.HobbyName

                            <br />
                        }
                    }
                    else
                    {
                        <span>No Hobbies</span>
                    }
                </td>
                <td>@(member.Gender == 0 ? "Male" : member.Gender == 1 ? "Female" : "Other")</td>
                <td>@(member.MembershipCategory == 1 ? "A" : member.MembershipCategory == 2 ? "B" : member.MembershipCategory == 3 ? "C" : member.MembershipCategory == 4 ? "D" : "Unknown")</td>
                <td>@member.Remark</td>
                <td>
                    <label class="switch">
                        <input type="checkbox" class="toggle-is-active" data-id="@member.Id" @(member.IsActive.HasValue && member.IsActive.Value ? "checked" : "") />
                        <span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <a asp-action="EditMember" asp-route-id="@member.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="ViewMember" asp-route-id="@member.Id" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Pagination Controls -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        @for (var i = 1; i <= Math.Ceiling((double)ViewBag.TotalMembers / ViewBag.PageSize); i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("ShowMembers", new { pageNumber = i, pageSize = ViewBag.PageSize, memberName = Context.Request.Query["memberName"], societyName = Context.Request.Query["societyName"], gender = Context.Request.Query["gender"], membershipCategory = Context.Request.Query["membershipCategory"], isActive = Context.Request.Query["isActive"] })">@i</a>
            </li>
        }
    </ul>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).on('change', '.toggle-is-active', function () {
        var memberId = $(this).data('id');
        var isActive = $(this).is(':checked');

        $.ajax({
            url: '@Url.Action("UpdateIsActive", "Members")',
            type: 'POST',
            data: {
                id: memberId,
                isActive: isActive,
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() // Include the token
            },
            success: function (result) {
                alert('Is Active succesfully updated');
            },
            error: function (xhr, status, error) {
                alert('Error updating status: ' + error);
            }
        });

    });

    // Set a timeout to hide the alert messages after 3 seconds (3000 milliseconds)
    setTimeout(function () {
        var alertContainer = document.getElementById("alert-container");
        if (alertContainer) {
            alertContainer.style.display = "none";
        }
    }, 3000);

    setTimeout(function () {
        var alertContainer = document.getElementById("alert-container");
        if (alertContainer) {
            alertContainer.style.display = "none";
        }
    }, 1000);

</script>