@model IEnumerable<Member_Registration.Models.ClubMember>

<h2>Active Club Members</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Member Name</th>
            <th>Society</th>
            <th>Hobby</th>
            <th>Gender</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.MemberName</td>
                <td>@member.Society.SocietyName</td>
                <td>@member.Hobby.HobbyName</td>
                <td>@member.Gender</td>
                <td>@member.Remark</td>
            </tr>
        }
    </tbody>
</table>
